h1 {
  margin: 2em auto;
  text-align: center;
}

h2 {
  margin: 1em auto;
  margin-bottom: 1em;
  text-align: center;
}

/*テーブル*/
.mainTable {
  display: none;
  margin: 1em auto;
  table-layout: fixed;
  font-size: 2em;
}

/*セル*/
.mainTable td {
  width: 1.6em;
  height: 1.6em;
  text-align: center;
  padding: 0px;
}

/*テキストボックス*/
.mainTable input {
  font-size: 1.0em;
  text-align: center;
  width: 100%;
  height: 100%;
  border: 0;
  padding: 0px;
}

/*演算子セル*/
.mainTable .operator {
  font-weight: bold;
}

/*行ヘッダーセル*/
.mainTable .row-header {
  color: #3674ff;
}

/*列ヘッダーセル*/
.mainTable .column-header {
  color: #33b147;
}

/*オーバーセル (11行・11列目)*/
/*廃止するかも*/
.mainTable .overcell {
  border: 1px dashed #CCC;
}

/*解答中のセルの行・列セル*/
.mainTable .answering {
  background: #ffdb7e;
}

/*答えが間違っているセル*/
.mainTable .notequal {
  background: #e4471e;
  color: #FFF;
}

/*解き終わったセルのテキストボックス*/
.mainTable input[disabled] {
  background: #2f49f2;
  color: #FFF;
}

/*解いているセルのテキストボックス*/
.mainTable input:focus {
  background: #000;
  color: #FFF;
}

/*スコア*/
.score {
  text-align: center;
  font-size: 1.6em;
}

/*名前入力ボックス*/
.namebox {

}

/*名前入力決定ボタン*/
.nameboxButton {

}

/*ボーナスタイムダイアログ*/
.bonustimeDialog {
  text-align: center;
  margin: auto;
}

/*準備OK？ダイアログ*/
.areyouready {

}

/*タイム*/
.time {
  text-align: center;
  font-size: 1.5em;
}

.ui-dialog .ui-dialog-buttonpane {
  text-align: center;
}
.ui-dialog .ui-dialog-buttonpane .ui-dialog-buttonset {
  float: none;
}
